* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #dccde8;
  font-size: 40pt;
  text-align: center;
}

.table {
  width: 80%;
  margin: auto;
  border: 3px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  /* padding: 10px; */
}

.titleRow {
  font-size: 20pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  display: flex;
  background-color: rgb(223, 164, 183);
}

.subTitleRow {
  font-size: 14pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  display: flex;
  background-color: rgb(193, 153, 238);
}

.row {
  font-size: 12pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  display: flex;
}

.col {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1px solid black;
  width: 12.5%;
  padding-left: 10px;
}
.col2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1px solid black;
  width: 16.67%;
  padding-left: 10px;
}

/* black
00100B

cyan
14BDEB

light
DCCDE8

medium
D99AC5

dark
B37BA4 */
